@font-face {   
    font-family: "Metropolis med";   
    src: url('fonts/Metropolis-Medium.otf') format('opentype');             
  }
  
  @font-face {
    font-family: "Metropolis bold";
    src: url('fonts/Metropolis-Bold.otf') format('opentype'); 
  }
  
  @font-face {
    font-family: "Metropolis black";
    src: url('fonts/Metropolis-Black.otf') format('opentype'); 
  }

  @font-face {
    font-family: "Metropolis black italic";
    src: url('fonts/Metropolis-BlackItalic.otf') format('opentype'); 
  }


  body {
    background: url("images/trippybackgroundpink.png");
    background-repeat: no-repeat;
    background-position-y:-550px;
    background-position-x: -350px;
    padding-left: 150px;
  }


  .header{
    writing-mode: vertical-lr;
    text-orientation:mixed;
    position: fixed;
    text-align:right;
    left:50px;
    top:0px;
    padding:15px;
    font-size: 70px;
    font-family: "Metropolis black italic";
    color:#F7B3CE;
    background-color: #FF597B;
    height:100%;
    transform: rotate(-180deg);
    z-index:3;
  }
  
  .theres{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    position: fixed;
    left:0px;
    top:0px;
    padding:20px 15px;
    text-align:right;
    font-size: 25px;
    font-family: "Metropolis black italic";
    color:#F7B3CE;
    background-color: #fff;
    height:100%;
    transform: rotate(-180deg);
    z-index:2;
  }

  .social{
    position:fixed;
    width: 35px;
    right: 0px;
    top:0px;
    height: 100%;
    padding:5px;
    background-color: #fff;
    z-index:3;
    border-left:15px solid #F7B3CE;
  }

  .social:hover{
    cursor: pointer;
  }

  .dark-social{
    display:none;
  }

.manekineko{
  background-image: url("images/manekineko.png");
  margin-left: 25px;
  display:flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 484.3396px;
  height: 700px;
  width: 500px;
}

.animated {
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   animation-iteration-count: infinite;
}

.wave{
  position: absolute;
  top:328px;
  left: 490px;
  -webkit-animation-name: wobble; 
  animation-name: wobble; 
}

.creepywave {
  display:none;
}

  .button{
    border-radius: 30px;
    width: 200px;
    background-color:#fff;
    padding: 20px 25px;
    color:#FF8E9E;
    z-index: 1;
    font-size: 22px;
    position:absolute;
    text-align: center;
    top: 350px;
    left: 700px;
    font-family: "Metropolis black";
    border: 15px solid #F7B3CE;
  }

  .button:hover{
    background-color:#FF8E9E;
    color:#fff;
    cursor:pointer;
  }

  @keyframes wobble { 
    0% { transform: translateX(0%); } 
    15% { transform: translateX(-31%) rotate(-18deg); } 
    30% { transform: translateX(10%) rotate(14deg); } 
    45% { transform: translateX(-38%) rotate(-16deg); } 
    60% { transform: translateX(18%) rotate(15deg); } 
    75% { transform: translateX(-35%) rotate(-13deg); } 
    90% { transform: translateX(13%) rotate(10deg); } 
    100% { transform: translate(1%)}
 }

 @media (max-height:740px){
  .header{
    font-size:60px;
  }

 }

 @media (max-width:1020px) {
  .button{
    left:600px;
  }
}

  
  @media (max-width:940px){
    .button{
      left:290px;
      top:620px;
    }
  }

  @media (max-width:400px){
    .header{
      font-size:28px;
      left:24px;
      padding:2px;
    }
    .theres{
      font-size:16px;
      left:-8px;
    }

    body {
      background: url("images/trippybackgroundpink.png");
      background-repeat: no-repeat;
      background-position-y:-741px;
      background-position-x: -526px;
      padding-left: 50px;
    }

    .social{
      display:none;
    }

    .manekineko{
      margin-left:0px;
      height: 471px;
      width: 332px;
    }
  
    
    .wave{
      top:208px;
      left: 280px;
    }


  .button{
    top: 467px;
    left: 82px;
  }

  }

  @media (max-width: 320px){
    .header{
      display:none;
    }

    .theres{
      display:none;
    }

    .manekineko{
      margin-left: -19px;
    }

    body{
      padding: 0px;
      background-position-y:-741px;
      background-position-x: -635px;
    }

    .wave{
      left: 212px;
    }

    .button{
      left: 8px;
    }
  }